extends layout

block content
    h1=title 
    p You must be logged in with an admin password to perform this action.
    form(method="POST").col.s12
        div.row.center-align
        div.input-field.col.s12
            i.small.material-icons.prefix edit
            label.active(for='password') Password: 
            input#password.validate(type='password' placeholder='password' name='password' required )
        button.btn.waves-effect.teal.accent-4(type="submit") Submit
            i.material-icons.right send
    if errors
        ul
            for error in errors
                li!= error.msg