extends layout 

block content 
    h1= title 
    if category_list.length
        ul(class="collection") 
            each category in category_list
                li(class="collection-item")
                    a(href=category.url) #{category.name}
    else 
        p There are no categories