extends layout

block content
  h2= title
  p Welcome to #[em Inventory Management], a basic inventory management page developed as part of my Odin Project tutorial journey.

  h2 Dynamic content

  p The Inventory has the following record counts:

  ul
    li #[strong Categories:] !{category_count}
    li #[strong Items:] !{item_count}
