extends layout 

block content 
    h1= title 
    if item_list.length
        ul(class="collection") 
            each item in item_list
                li(class="collection-item")
                    a(href=item.url) #{item.name}
    else 
        p There are no items